@{
    ViewBag.Title = "Index";
}

<div class="col-md-6">
    <form role="form">
        <div class="form-group">
            <label for="apiUrl">Api url</label>
            <input type="text" class="form-control" id="apiUrl" value="http://localhost:58524/api/MakeRequest" />
            <label for="requestUrl">Email address</label>
            <input type="text" class="form-control" id="requestUrl" placeholder="Enter url">
        </div>
        <div class="form-group">
            <button type="button" id="buttonSubmit" class="btn btn-default">Submit</button>
            <button type="button" id="buttonInfo" class="btn btn-info">Refresh</button>
        </div>
    </form>
</div>

<div class="col-md-6">
    <h4>Message</h4>
    <p id="message" class="has-error">@*message here*@</p>
</div>

<div id="requests" class="col-md-12">
    @*request added here*@
</div>

<script>
    var api = "";
    var url = "";

    function setMessage(msg) {
        $('#message').text(msg);
    }

    function parseApi() {
        api = $('#apiUrl').val();
        if (api.length == 0) {
            setMessage("api url is empty!");
            return false;
        }
        return true;
    }

    function parseUrl() {
        url = $('#requestUrl').val();
        if (url.length == 0) {
            setMessage("url is empty!");
            return false;
        }
        return true;
    }

    function createRequest() {
        if (parseApi() && parseUrl()) {
            // payload
            var postData = {
                url: url
            };
            // call to api
            $.ajax({
                url: api,
                method: 'post',
                data: JSON.stringify(postData),
                headers: { "Access-Control-Allow-Origin": "*" },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    setMessage("request send");
                    listRequest();
                },
                error: function (data, status, error) {
                    setMessage(error);
                }
            });
        }
    }

    function listRequest() {
        if (parseApi()) {
            // div for request table also we clear it
            var listDiv = $('#requests');
            listDiv.children().remove();
            // call to api
            $.ajax({
                url: api,
                headers: { "Access-Control-Allow-Origin": "*" },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // total count
                    $('<p/>').text("Total count of requests: " + data.Count).appendTo(listDiv);

                    // request table
                    var table = $('<table/>').addClass('table').addClass('table-striped');

                    // headers
                    var row = $('<tr/>');
                    $('<th/>').text("Request URL").appendTo(row);
                    $('<th/>').text("Created").appendTo(row);
                    $('<th/>').text("Completed").appendTo(row);
                    $('<th/>').text("HTTP status code").appendTo(row);
                    row.appendTo(table);
                    // request rows
                    $.each(data.Requests, function (i, item) {
                        row = $('<tr/>');
                        $('<td/>').text(item.Url).appendTo(row);
                        $('<td/>').text(item.Created).appendTo(row);
                        $('<td/>').text(item.Completed).appendTo(row);
                        $('<td/>').text(item.StatusCode).appendTo(row);
                        row.appendTo(table);
                    });
                    table.appendTo(listDiv);
                },
                error: function (data, status, error) {
                    setMessage(error);
                }
            });
        }
    }

    $(document).ready(function () {
        $('#buttonSubmit').click(createRequest);
        $('#buttonInfo').click(listRequest);
        listRequest();
    });
</script>
